services:
  medianode_server:
    image: postgres:17
    restart: always
    environment:
      # '%env:ABC_DEF' => syntax for use of .env values
      POSTGRES_PASSWORD: '%env:POSTGRES_PASSWORD'  # admin password
      POSTGRES_DB: '%env:POSTGRES_DB' # name of the database
      POSTGRES_USER: '%env:POSTGRES_USER%' #admin name
    ports:
      - 5432:5432 # port of PC (left), port of Container (right) => is important to establish a connection between them
    volumes:
      - media_data:/var/lib/postgresql/data # saves data
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080 # Port of adminer dashboard
volumes:
  media_data: #reserves place on local drive